---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <h1>Todo :</h1>
            <ul>
                <li>
                    L'événement
                    <ul>
                        <li>Définir la date (2 soirées consécutives)</li>
                        <li>Définir le lieu : Discord Astro-FR</li>
                        <li>
                            Rédiger un CFP simple pour des présentations de 10
                            ou 20 minutes
                        </li>
                        <li>
                            Formulaire temporaire :
                            https://framaforms.org/soumission-de-presentation-pour-la-table-ronde-optique-amateur-francophone-des-4-5-mars-2026
                        </li>
                        <li>Nb intervenants : 12 (2x6)</li>
                        <li>Collecter les participations : Framaform</li>
                        <li>
                            Mettre à jour ce site pour qu'il montre les
                            participants et leurs présentations
                        </li>
                    </ul>
                </li>
                <li>
                    La diffusion
                    <ul>
                        <li>Rédiger ce site un minimum</li>
                        <li>
                            Présenter le canal optique : participants réguliers,
                            quelques réalisations
                        </li>
                        <li>Ouverture vers les forums</li>
                        <li>
                            Vidéo "comment rejoindre Discord et Astro-FR" pour
                            les personnes moins à l'aise
                        </li>
                        <li>
                            Newsletter pour donner des nouvelles des
                            présentations collectées et rappeler les dates aux
                            personnes s'étant inscrites
                        </li>
                    </ul>
                </li>
            </ul>
        </main>
        <Footer />
    </body>
</html>
